.DS_Store
.vscode/
*.swp
*.swo
*~
.env
.env.local
node_modules/

# Docker container filesystem - these should not be in git
bin/
boot/
dev/
etc/
home/
lib/
lib32/
lib64/
libx32/
media/
mnt/
opt/
proc/
root/
run/
sbin/
srv/
sys/
tmp/
usr/
var/
sandbox/

# ignore git directory backups
.git.backup/
